* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.256);
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px; /* jarak logo & teks */
  font-size: 22px;
  font-weight: 700;
}

.logo img {
  height: 60px; /* ukuran logo */
  width: auto;
}



.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.256),
      rgba(0, 0, 0, 0.705)
    ),
    url("gambar/bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}


.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: white;
  color: #ff8800(0% 0 0);
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}




.section1 {
  padding: 80px 50px;
  text-align: left;
}

.section2 {
  padding: 80px 50px;
  text-align: left;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
  
}

.content img {
  width: 350px;
  border-radius: 8px;
}

.content .text {
  flex: 1;
}

.content.reverse {
  flex-direction: left;
}





.portofoliojudul {
  padding: 80px 50px;
  text-align: center;
}

.portofolio {
  padding: 80px 50px;
  text-align: center;
}


.section.gray {
  background: #f4f4f4;
   padding: 80px 50px;
  text-align: left;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}


.card1 {
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.256),
      rgba(0, 0, 0, 0.705)
      ),
  url("gambar/AirQualityMonitoringSystem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px;
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;  

  font-size: 13px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.032);
}
.card1 h4 {
  font-size: 25px;
  margin-bottom: 4px;
}

.card2 {
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.256),
      rgba(0, 0, 0, 0.705)
      ),
  url("gambar/AutomaticRainfallRecorder.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px;
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;  

  font-size: 13px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.032);
}
.card2 h4 {
  font-size: 25px;
  margin-bottom: 4px;
}

.card3 {
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.256),
      rgba(0, 0, 0, 0.705)
      ),
  url("gambar/AutomaticWaterLevelRecorder.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px;
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;  

  font-size: 13px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.032);
}
.card3 h4 {
  font-size: 25px;
  margin-bottom: 4px;
}

.card4 {
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.256),
      rgba(0, 0, 0, 0.705)
      ),
  url("gambar/AutomaticWeatherStation.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px;
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;  

  font-size: 13px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.032);
}
.card4 h4 {
  font-size: 25px;
  margin-bottom: 4px;
}

.card5 {
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.256),
      rgba(0, 0, 0, 0.705)
      ),
  url("gambar/WaterQualityMonitoringSystem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px;
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;  

  font-size: 13px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.105);
}
.card5 h4 {
  font-size: 25px;
  margin-bottom: 4px;
}























.footer {
  background: #ff8800;
  color: white;
  text-align: center;
  padding: 20px;
}
